<div class="row">
  <div [ngClass]="{'col-sm-6': alunoSelecionado, 'col-sm-12': !alunoSelecionado}">
    <app-titulo [titulo]="titulo"></app-titulo>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Nome</th>
          <th scope="col">Sobrenome</th>
          <th scope="col">Telefone</th>
          <th scope="col" *ngIf="!alunoSelecionado">Vizualisar</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let aluno of alunos"
          style="cursor: pointer"
        >
          <td class="col-2">
            <button class="btn-sm btn btn-outline-secondary" (click)="setAlunoSelecionado(aluno)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
              <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
            </svg> Editar</button>
          </td>
          <td class="col-3">{{ aluno.nome }}</td>
          <td class="col-3">{{ aluno.sobrenome }}</td>
          <td class="col-3">{{ aluno.telefone }}</td>
          <td class="col-2">
            <button class="btn-sm btn btn-outline-primary" *ngIf="!alunoSelecionado" (click)="setAlunoSelecionado(aluno)">
              Professores
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <br />
  </div>
  <div *ngIf="alunoSelecionado" class="col-sm-6">
    <div class="d-flex justify-content-between w-100">
      <h2 class="mt-5">
        {{alunoSelecionado.nome + " " + alunoSelecionado.sobrenome}}
      </h2>
      <button
        class="btn-sm btn btn-outline-danger h-25 mt-5"
        (click)="deselectAluno()"
      >
        Fechar
      </button>
    </div>

    <form [formGroup]="alunoForm" (submit)="submitAlunoForm()">
      <div class="mb-3">
        <label for="inputNome" class="form-label">Nome</label>
        <input
          type="text"
          class="form-control"
          formControlName="nome"
          id="inputNome"
        />
      </div>
      <div class="mb-3">
        <label for="inputSobrenome" class="form-label">Sobrenome</label>
        <input
          type="text"
          class="form-control"
          formControlName="sobrenome"
          id="inputSobrenome"
        />
      </div>
      <div class="mb-3">
        <label for="inputTel" class="form-label">Telefone</label>
        <input
          type="text"
          class="form-control"
          formControlName="telefone"
          id="inputTel"
        />
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!alunoForm.valid">Salvar</button>
    </form>
  </div>
</div>
