<div class="row">
  <div [ngClass]="{'col-sm-6': profSelecionado, 'col-sm-12': !profSelecionado}">
    <app-titulo [titulo]="titulo"></app-titulo>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Disciplina</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let prof of professores"
          style="cursor: pointer"
          (click)="setProfSelecionado(prof)"
        >
          <th scope="row">{{ prof.id }}</th>
          <td>{{ prof.nome + " " + prof.sobrenome }}</td>
          <td>{{ prof.disciplinas[0].nome }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="profSelecionado" class="col-sm-6">
    <div class="d-flex justify-content-between w-100">
      <h2 class="mt-5">{{profSelecionado.nome}}</h2>
      <button
        class="btn btn-outline-danger h-25 mt-5"
        (click)="deselectProf()"
      >
        Fechar
      </button>
    </div>

    <form [formGroup]="profForm" (submit)="submitProfessorForm()">
      <div class="row mb-3">
        <div class="col">
          <label for="inputNome" class="form-label">Nome</label>
          <input
            type="text"
            class="form-control"
            formControlName="nome"
            id="inputNome"
          />
        </div>
        <div class="col">
          <label for="inputSobrenome" class="form-label">Sobrenome</label>
          <input
            type="text"
            class="form-control"
            formControlName="sobrenome"
            id="inputSobrenome"
          />
        </div>
      </div>
      <div>
        <div class="mb-3">
          <label for="inputTel" class="form-label">Disciplina</label>
          <input
            type="text"
            class="form-control"
            formControlName="disciplinas"
            id="inputTel"
          />
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!profForm.valid">Salvar</button>
    </form>
  </div>
</div>
